*{
     font-family: "poppins", sans-serif;
}



.frontpage{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}


.login {
    padding-right: 20%;
    padding-left: 20%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 40px;
}
ul,li{
    display: inline-block;
}
ul :hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 18px;
    border-radius: 10%;
}

.menscollation{
    padding-top: 2%;
    background-color: rgb(239, 190, 239);
 
}
.card-group{
    padding: 1%;
    padding-bottom: 100px;

}
.card{
}
